# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
.next/
.turbo/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# prisma
apps/api/prisma/migrations/dev.db*

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
